{{ define "main" }}

{{ $strapi_single_types := print "https://strapi-production-4b65.up.railway.app/api/side-meny?populate[0]=Topp.Bakgrunnsbilde" }}
{{ $strapi_collection_meny := "https://strapi-production-4b65.up.railway.app/api/menies?populate=*" }}
{{ $opts := dict
    "headers" (dict "Authorization" "Bearer 35428451d9c783d7c30b79700cb687aeac3bcd3988a5af0ff13db2c888c5664026e9ed47ce2484789ec41d61f478ea72428c96d36d00145f5dbabe54053bf97f31b0f385d72be2af38a55b36ec8c17a79d8a3b96941344c36e7f5e0e8645ad1bfbdbf63243ec6f9d2e4410bce3c2576fecbbdf37a5a05f334a48c46bfd33ce02")
}}
{{ $components := resources.GetRemote $strapi_single_types $opts | unmarshal }}
{{ $meny_liste := resources.GetRemote $strapi_collection_meny $opts | unmarshal}}

{{ $comp_data := $components.data.attributes }}
{{ $title := $comp_data.Topp.Tittel}}
{{ $hero_bilde := $comp_data.Topp.Bakgrunnsbilde.data.attributes.formats.medium.url}}
{{ $ingres := $comp_data.Topp.Beskrivelse }}


{{ partial "top.html" (dict "meny" $meny_liste "title" $title "img" $hero_bilde "ingres" $ingres) }}
<div class="meny--page" >
    <div class="absolute" style="background:url('{{ (resources.Get "/bilder/blomst-repeat.jpeg").RelPermalink }}')"></div>
    {{ range $meny_liste.data }}
        <div class="meny--wrapper">
            <div class="tittel">
                <div class="ikon">
                    <img src="{{ .attributes.Ikon.data.attributes.url }}" /> 
                </div>
                <h3 id="{{ .id }}">{{ .attributes.Tittel }}</h3>
            </div>
            {{ range .attributes.Varer }}
                <div class="meny--wrapper_enhet">
                    <div class="meny--wrapper_enhet--beskrivelse">
                        <h4>{{ .Tittel }}</h4>
                        <p>{{ .Beskrivelse | markdownify }}</p>
                    </div>
                    {{ if .Pris }}
                        <div class="meny--wrapper_enhet--pris">
                            <p>Kr. <span>{{ .Pris }}</span>,-</p>
                        </div>
                    {{ else }}
                        <div class="meny--wrapper_enhet--pris">
                            <p><span>-</span></p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    {{ end }}
<div>
{{ end }}
