@import url("topp.css");
.leverandor--wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.leverandor--wrapper a {
    width: max-content;
}

.leverandor:nth-child(odd) {
    background: var(--base-color-2);
}

.leverandor--wrapper .leverandor--bilde {
    aspect-ratio: 16 / 9 ;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    border-radius: 8px;
}

@media only screen and (min-width: 1024px) {
    .leverandor--wrapper {
        align-items: flex-start;
        flex-direction: row;
        gap: 64px;
    }

    .leverandor--wrapper > div {
        flex: 1;
    }

.leverandor:nth-child(odd) .leverandor--wrapper {
        flex-direction: row-reverse;
    }

.leverandor--wrapper .leverandor--bilde {
    aspect-ratio: 6 / 5 ;
}
}
