@import "normalize.css";
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'),
       url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'),
       url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: local('Libre Baskerville'),
       url('/fonts/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 600;
  src: local('Merriweather'),
       url('/fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'EBGaramond';
  font-style: normal;
  font-weight: 400;
  src: local('EBGaramond'),
       url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

:root {
    --base-color: hsl(47, 37%, 93%, 100%);
    --base-color-2: hsl(47, 36%, 85%, 100%);
    --accent-color: hsl(350, 18%, 54%, 100%);
    --accent-color-2: hsl(32, 42%, 53%, 100%);
    --primary-color: hsl(214, 7%, 20%, 100%);
    --blue-color: #50a8d6;
    --max-width: 1440px;
    --padding-desktop: 24px;
    --font-size-big: 20px;
    --font-baskerville: "Libre Baskerville";
    --font-baskerville-italic: italic;
    --section-padding: 56px;
}


@media only screen and (min-width: 600px) {
    :root {
        --padding-desktop: 80px;
        --section-padding: 80px;
    }
}

@media only screen and (min-width: 1100px) {
    :root {
        --padding-desktop: 160px;
        --section-padding: 96px;
    }
}

.apningstider {
    position: relative;
}

.apningstider .absolute {
    background-size: 50%!important;
    opacity: .03;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}
.apningstider--tekst {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
    text-align: center;
}

.bilde_fullbredde {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    max-height: 300px;
}

.bilderekke {
    display: flex;
    gap: 32px;
}

.bilderekke--wrap {
    aspect-ratio: 3/4;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: relative;
    overflow: hidden;
    width: 33.33%;
}

.button {
    background: var(--accent-color);
    border: none;
    border-radius: 8px;
    color: var(--base-color);
    display: inline-block;
    font-family: "Libre Baskerville";
    font-style:italic;
    padding: 8px 32px;
    text-decoration: none;
    transition: background .2s ease;
}

.button.inverted {
    background: var(--base-color);
    color: var(--accent-color);
    padding: 10px 34px;
}

.button.outline {
   background: none;
   border: 2px solid var(--base-color); 
   color: var(--base-color);
}

.button:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--base-color);
}

.datoer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 var(--padding-desktop) var(--padding-desktop) var(--padding-desktop);
    text-align: center;
}

.datoer h3 {
    margin-bottom: 24px;
}

.datoer .dato--wrap {
    display: flex;
    flex-wrap: wrap;
}

.datoer .day--wrap {
    background: hsl(47, 100%, 98%, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    padding: 24px;
    text-align: left;
    width: 49%;
outline: 1px solid var(--primary-color);
    margin-top: 1px;
    margin-left: 1px;
}

@media only screen and (min-width: 500px) {
    .datoer .day--wrap {
    width: 33%;
    }
}

@media only screen and (min-width: 769px) {
    .datoer .day--wrap {
    width: 33%;
    }
}

@media only screen and (min-width: 1100px) {
    .datoer .day--wrap {
    width: 19%;
    }
}

.datoer .dato {
    font-family: var(--font-baskerville);
    font-size: 20px;
}

.enspalte {
margin: 0 auto;
    max-width: calc(var(--max-width) - (var(--padding-desktop)* 2));
    padding: var(--section-padding) 0;
}


@media only screen and (min-width: 768px) {
    .enspalte > div {
        width: 65%;
    }
}

footer a {
    width: max-content;
}

footer .address {
    background: var(--accent-color-2);
    color: var(--base-color);
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    padding: var(--section-padding) var(--padding-desktop) 0 var(--padding-desktop);
}

footer .address > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.address > div .absolute {
    background-repeat: no-repeat!important;
    background-size: 50%!important;
    background-position: bottom right!important;
    opacity: .2;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

footer .img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
    margin: 0 calc(0px - var(--padding-desktop));
}

footer .address > div p {
    margin: 0;
}

footer .copyright {
    background: #1E2021;
    color: var(--base-color);
    font-size: .85rem;
    padding: 40px var(--padding-desktop);
    text-align:center;
}

footer .email {
    color: var(--base-color);
    font-size: .85rem;
}

footer .email a {
    color: var(--base-color);
}

footer .menu {
    background: var(--primary-color);
    color: var(--base-color);
    display: flex;
    justify-content: space-between;
    padding: 40px var(--padding-desktop);
}

footer .some {
    display: flex;
    gap: 8px;
}

@media only screen and (min-width: 769px) {
    footer .address {
        flex-direction: row;
        padding: 0;
    }

    footer .img {
        flex: 1;
        height: unset;
        margin: unset;
    }
    footer .address > div {
        flex: 1;
        padding: var(--section-padding) 0;
    }
}

.fremhevet {
    background: var(--primary-color);
    margin: 0 calc(0px - var(--padding-desktop));
    padding: 0 var(--padding-desktop) var(--section-padding) var(--padding-desktop);
}

.fremhevet > div {
}

.fremhevet--bilde {
    background-size: 0;
}

.fremhevet--bilde img {
    width: 100%;
}

.fremhevet--tekst {
    color: var(--base-color);
    padding: var(--section-padding) 0 0 0;
}

.fremhevet--wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
}

@media only screen and (min-width: 900px) {
    .fremhevet {
        padding: 0 0 0 var(--padding-desktop);
    }
    .fremhevet--wrapper {
        flex-direction: row;
    }

    .fremhevet--bilde {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100%;
    }

    .fremhevet--bilde img {
        display: none;
    }

    .fremhevet--tekst {
        padding-bottom: var(--section-padding);
        width: 50%;
    }
}

h1 {
    font-family: "Libre Baskerville";
    font-size: clamp(40px, 10vw, 56px);
    font-style: italic;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
}


h2 {
    font-family: "Libre Baskerville";
    font-size: clamp(32px, 5vw, 42px);
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}
h2.sans {
    font-family: "Montserrat";
    font-size: clamp(32px, 5vw, 42px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

h3 {
    font-family: "Libre Baskerville";
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
}

h4 {
    font-family: "Libre Baskerville";
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
}

html {
    background: var(--base-color); 
    font-family: "Montserrat";
    font-weight: 400;
    font-style: regular;
    line-height: 1.6;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 24px var(--padding-desktop);
}
/*
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 24px var(--padding-desktop);
}
*/

header .mobile-nav a {
    display: flex;
    font-family: var(--font-baskerville);
    font-style: var(--font-baskerville-italic);
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

header.toggled nav {
    max-height: 400px;
}

header .menu-toggle {
	position: relative;
	display:  inline-block;
	width: 32px;
	height: 30px;
}

header .menu-toggle span {
	margin: 0 auto;
	position: relative;
	top: 12px;
	transition-duration: 0s;
	transition-delay: .2s;
  transition: background-color 0.3s;
}
header .menu-toggle span:before, .menu-toggle span:after {
	position: absolute;
	content: '';
}
header .menu-toggle span, .menu-toggle span:before, .menu-toggle span:after {
	width: 32px;
	height: 2px;
	background-color: var(--primary-color);
	display: block;
  opacity: 1;
}
header .menu-toggle span:before {
	margin-top: -8px;
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;  
}
header .menu-toggle span:after {
	margin-top: 8px;
	transition-property: margin, transform;
	transition-duration: .2s;
	transition-delay: .2s, 0;  
}

header .menu-toggle-active span {
  background-color: rgba(0,0,0,0);
	transition: 0.3s background-color;
}
header .menu-toggle-active span:before {
	margin-top: 0;
	transform: rotate(45deg);
	transition-delay: 0, .2s;
}
header .menu-toggle-active span:after {
	margin-top: 0;
	transform: rotate(-45deg);
	transition-delay: 0, .2s;
}

header nav {
    width:  100%;
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

header nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 32px 0 8px 0;
    padding: 0;
}

header nav ul li {
    text-align: center;
    width: 100%;
}

header nav a {
    border-bottom: 1px solid var(--base-color-2);
    color: var(--primary-color);
    padding: 12px;
    font-family: "Libre Baskerville";
    font-style: italic;
    text-decoration: none;
    display: block;
}

header nav ul li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 500px) {
    header {
        gap: 0;
        justify-content: space-between;
    }

    header nav {
        margin-top: 0;
    }

    header nav ul {
        flex-direction: row;
        gap: 24px;
    }

    header nav ul li {
        width: calc(33.33% - 16px);
    }

    header nav ul li:last-child a {
        border-bottom: 1px solid var(--base-color-2);
    }
}

@media only screen and (min-width:750px) {
    header {
        gap: 32px;
        justify-content: center;
    }
    header .mobile-nav {
        display: none;
    }
    header nav {
        max-height: unset;
        margin-top: unset;
        width: unset;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 0;
    }

    header nav ul li {
        width: unset;
    }

    header nav ul li:last-child a {
        padding-right: 0;
    }

    header nav a {
        border-bottom: none;
    }

    header nav ul li:last-child {
        margin-left: 12px;
    }

    header nav ul li:last-child a {
        background: var(--accent-color);
        border-radius: 8px;
        color: var(--base-color);
        padding: 4px 16px;
        text-decoration: none;
    }

    header nav ul li:last-child a:hover {
        background: var(--primary-color);
        color: var(--base-color);
        text-decoration: none;
    }

    header nav ul li:last-child a.active {
        background: var(--primary-color);
    }

    header nav ul li:last-child a.active:hover {
        background: var(--primary-color);
    }
}

@media only screen and (min-width: 900px) {
    header {
        justify-content: space-between;
    }
}

/*
header nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
*/
/*
*/
/*
header nav a {
    color: var(--primary-color);
    font-family: "Libre Baskerville";
    font-style: italic;
    text-decoration: none;
}
*/
header nav a.active {
    color: var(--accent-color);
    text-decoration: underline;
}

header nav a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

header nav a.active:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.hero {
    background-color: var(--accent-color);
    display: flex;
    position: relative;
}

.hero h1 {
    color: var(--base-color);
}


.hero--wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 var(--padding-desktop);
    position: relative;
    width: 100%;
}

.hero--wrapper .absolute {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    opacity: .05;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

.hero--image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 40vw;
    margin: 0 calc(0px - var(--padding-desktop));
    z-index: 1;
}

.hero--content {
    margin: 0 calc(0px - var(--padding-desktop)) 0 calc(0px - var(--padding-desktop));
    max-width: 767px;
    padding: 40px var(--padding-desktop);
    z-index: 2;
}

.hero--content > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero--content p {
    color: var(--base-color);
    font-size: var(--font-size-big); 
    margin: 0;
}

.hero--content_buttons {
    display: flex;
    gap: 16px;
}

@media only screen and (min-width: 1100px) {
    .hero--wrapper {
        flex-direction: row;
        gap: 56px;
        padding: 0;
        width: 100%;
    }

    .hero--content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin: unset;
        max-width: var(--max-width);
        padding: var(--section-padding) 0;
    }
    .hero--content > div {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 672px;
        padding-left: var(--padding-desktop);
    }

    .hero--image {
        flex: 1;
        height: unset;
        margin: unset;
    }
}


.innehaverne {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 60%;
    padding: var(--section-padding) var(--padding-desktop);
    margin-top: var(--section-padding);
}

.innehaverne--content {
    background: var(--base-color);
    border-top: 1px solid var(--base-color-2);
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50vw;
    max-width: 762px;
    padding: var(--section-padding) 0 0 0;
}

.innehaverne--content img {
    width: 100%;
}

.innehaverne--content p {
    margin: 0;
    white-space: pre-wrap;
}

.innehaverne--content a {
    width: max-content;
}

@media only screen and (min-width: 960px) {
    .innehaverne {
        align-items: center;
        background-size: contain;
        background-position: 1vw bottom;
        display: flex;
        flex-direction: row-reverse;
        gap: 96px;
        margin: 0 auto;
        max-width: var(--max-width);
        padding: 0 var(--padding-desktop);
    }

    .innehaverne--content {
        background: hsl(47, 37%, 93%, 50%);
        border: none;
        flex: 1;
        gap: 32px;
        margin: unset;
        padding: var(--section-padding) 0 var(--section-padding) 40px;
    }

    .innehaverne--image {
        flex: 1;
    }
}

@media only screen and (min-width: 1200px) {
    .innehaverne {
        background-position: 10vw bottom;
    }
}

.ikon {
   align-items: center;
   background: var(--base-color-2); 
   border-radius: 50%;
   display: flex;
   box-shadow: 0 4px 4px hsl(0, 0%, 15%, .15);
   height: 64px;
   justify-content: center;
   margin-bottom: 16px;
   width: 64px;
}

.kontakt {
    display: flex;
    flex-direction:column;
    gap: 48px;
    margin: 0 auto;
    max-width: 750px;
    padding: var(--section-padding) var(--padding-desktop);
    text-align: center;
    position: relative;
}


.kontakt h3 {
    margin-top: 32px;
}

.kontakt h3:first-of-type {
    margin-top: 0;
}

.kontakt .knapper {
    align-items:center;
   display: flex;
   flex-wrap: wrap;
   gap: 32px;
   justify-content: center;
   z-index: 2;
}

.kontakt .some {
    align-items: center;
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.kontakt--wrapper {
    z-index: 2;
}

.leverandor--wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.leverandor--wrapper a {
    width: max-content;
}

.leverandor:nth-child(3n) {
    background: var(--base-color-2);
}

.leverandor--wrapper .leverandor--bilde {
    aspect-ratio: 4/3;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    border-radius: 8px;
}

@media only screen and (min-width: 769px) {
    .leverandor--wrapper {
        align-items: center;
        flex-direction: row;
        gap: 64px;
    }

    .leverandor--wrapper > div {
        flex: 1;
    }

.leverandor:nth-child(3n) .leverandor--wrapper {
        flex-direction: row-reverse;
    }
}

.logo img {
    height: 56px;
}

main {
    margin: 0 auto;
}

.meny {
    background: var(--base-color-2);
    position: relative;
}

.meny .absolute {
    background-repeat: no-repeat!important;
    background-size: cover!important;
    opacity: .1;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

.meny h2 {
    text-align: center;
}

.meny--wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
    position: relative;
    z-index: 2;
}

.meny--liste {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.meny--liste_enhet {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
        margin-bottom: 24px;
    width: 100%;
}

.meny--liste_enhet--image-wrapper {
    aspect-ratio: 4/3;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
}


@media only screen and (min-width: 600px) {
    .meny--liste_enhet {
        width: calc(50% - 20px);
    }
} 

@media only screen and (min-width: 1000px) {
    .meny--liste_enhet {
        width: calc(33.33% - 27px);
    }
}

.meny--page {
    display: flex;
    flex-direction: column;
    padding: 0 var(--padding-desktop) var(--section-padding)  var(--padding-desktop);
    position: relative;
}

.meny--page .absolute {
    background-size: 50%!important;
    opacity: .03;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
}

.meny--wrapper {
    margin: 0 auto;
    max-width: 760px;
    padding-top: var(--section-padding);
    width: 100%;
    z-index: 2;
}

.meny--wrapper .ikon {
    margin: 0 auto 24px auto;
}

.meny--wrapper .ikon img {
    width: 33px;
    height: auto;
}

.meny--wrapper .tittel {
    margin-bottom: 48px;
    text-align: center;
}

.meny--wrapper_enhet {
    display: flex;
}

.meny--wrapper_enhet--beskrivelse {
    border-top: 1px solid hsl(214, 7%, 20%, .2);
    border-right: 1px solid hsl(214, 7%, 20%, .2);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.meny--wrapper_enhet--beskrivelse p {
    margin: 0;
}

.meny--wrapper > div:last-child {
    border-bottom: 1px solid hsl(214, 7%, 20%, .2);
}

.meny--wrapper_enhet--pris {
    align-items: center;
    border-top: 1px solid hsl(214, 7%, 20%, .2);
    color: var(--accent-color);
    display: flex;
    font-family: var(--font-baskerville);
    font-size: 18px;
    justify-content: center;
    width: 120px;
}

@media only screen and (max-width: 500px) {
    .meny--wrapper_enhet--beskrivelse {
        padding: 24px 24px 24px 0;
    }
    
    .meny--wrapper_enhet--pris {
        width: 100px;
    }
}
/*
.meny--wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.meny--liste_enhet {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
}

.meny--liste_enhet a {
    width: fit-content;
}

*/
.moteplass {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.moteplass--content {
    background: hsl(47, 37%, 93%, 90%);
    border-radius: 8px 8px 0 0;
    margin: 400px 24px 0 24px;
    max-width: 65ch;
    padding: 24px;
}

.moteplass--content p {
    white-space: pre-wrap;
}
/*
.moteplass {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: flex-end;
    max-height: 904px;
}

.moteplass--content {
    background: hsl(47, 37%, 93%, 90%);
    border-radius: 8px 8px 0 0;
    max-width: 65ch;
    padding: 64px;
}


.moteplass--wrapper {
    margin: 0 auto;
    max-width: var(--max-width); 
    padding: 0 var(--padding-desktop);
}
*/

.om--wrapper {
    padding: 0 var(--padding-desktop) var(--section-padding)  var(--padding-desktop);
}

.referanser--wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.referanser h2 {
    text-align: center;
}

.referanser--liste {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    width: 100%;
}

.referanser--liste_enhet--bilde-wrap {
    aspect-ratio: 16/9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 100%;
}

.referanser--liste_enhet {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

@media only screen and (min-width: 769px) {
    .referanser--liste_enhet {
        width: calc(50% - 32px);
    }
    .referanser--liste_enhet--bilde-wrap {
        aspect-ratio: 1/1;
    }
} 
/*
.referanser--wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.referanser--liste {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.referanser--liste_enhet {
    align-items: center;
    display: flex;
    flex-basis: calc(50% - 64px);
    flex-direction: column;
    gap: 16px;
}

.referanser--liste img {
    border-radius: 8px;
    width: 100%;
}

*/

.salgspunkter {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--section-padding) var(--padding-desktop);
}

.salgspunkter h2 {
    margin: 0 auto;
    max-width: 24ch;
    text-align: center;
}

.salgspunkter--liste {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.salgspunkter--liste img {
    height: 32px;
    width: auto;
}

.salgspunkter--liste p {
    margin: 0;
}

.salgspunkter--liste_enhet {
    align-items: flex-start;
    border-bottom: 1px solid var(--base-color-2);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
    width: 100%;
}

.salgspunkter--liste_enhet:last-child {
    border-bottom: none;
}

@media only screen and (min-width: 900px) {
    .salgspunkter--liste_enhet {
        border-bottom: none;
        width: calc(50% - 40px);
    }
} 

@media only screen and (min-width: 1300px) {
    .salgspunkter--liste_enhet {
        width: calc(33.33% - 54px);
    }
} 
/*

.salgspunkter--liste {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}

.salgspunkter--liste_enhet {
    align-items: flex-start;
    display: flex;
    flex-basis: calc(33.33% - 64px);
    flex-direction: column;
    gap: 16px;
}
*/
.sitat {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    max-width: calc(var(--max-width) - (var(--padding-desktop)* 2));
    padding: var(--section-padding) 0;
}

.sitat > div {
    flex: 1;
}

.sitat p {
    white-space: pre-wrap;
}

.sitat_bilde img {
    width: 100%;
}

.sitat_bilde p {
    font-family: var(--font-baskerville);
    font-size: 20px;
    line-height: 1.6em;
}

@media only screen and (min-width: 768px) {
    .sitat {
        flex-direction: row;
        gap: 64px;
    }
        
    .sitat.hoyre {
        flex-direction: row-reverse;
    }
}

.tekst-i-bilde {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 calc(0px - var(--padding-desktop));
}

.tekst-i-bilde > div {
    background: hsl(47, 37%, 93%, 90%);
    border-radius: 8px 8px 0 0;
    margin: 600px 24px 0 24px;
    max-width: 65ch;
    padding: 24px;
}

@media only screen and (min-width: 500px) {
.tekst-i-bilde > div {
    margin: 400px 24px 0 24px;
}
    
}

.top {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.top--wrapper {
    background-color: hsl(350, 18%, 54%, .90);
    padding: var(--section-padding) var(--padding-desktop); 
}

.top--wrapper_content {
    color: var(--base-color);
    margin: 0 auto;
    max-width: 750px;
}

.top--wrapper_content {
    font-size: var(--font-size-big);
}

.toppbilde {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: calc(var(--max-width) - (var(--padding-desktop)*2));
    max-height: 800px;
    margin-top: var(--section-padding);
}

.toppbilde h2 {
    background: hsl(47, 37%, 93%, 90%);
    border-radius: 0;
    padding: 24px;
    width: 100%;
}

.tospalte {
    margin: 0 auto;
    max-width: calc(var(--max-width) - (var(--padding-desktop)*2));
    padding: var(--section-padding) 0;
}

.tospalte p { 
    column-count: 1;
    column-gap: 0;
    white-space: pre-wrap;
}
@media only screen and (min-width: 768px) {
    .toppbilde h2 {
        border-radius: 0 16px 0 0;
        padding: 56px;
        width: 50%;
    }

    .tospalte p { 
        column-count: 2;
        column-gap: 64px;
    }
}
