{{- $respSizes := slice "320" "640" "960" "1280" "1600" "1920" -}}
{{ with .alternativeText }}
    {{ . }}
{{ end }}
{{- $myCloud := "dckscueuu" -}}
{{- $cloudiBase := print "https://res.cloudinary.com/" $myCloud "/image/upload/" -}}
{{- $xFmPart1 := "f_auto,q_auto,w_" -}}
{{- $xFmPart2 := ",x_0,z_1/" -}}
{{- $src := print .hash -}}
{{- $imgBd5 := md5 $src -}}
{{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
{{- $holder := "LQIP" -}}
{{- $imgClass := "w-full h-auto shadow animate-fade" -}}

	{{- $divClass := print "relative bg-center bigImgDiv imgB-" $imgBd5 "-" $holder -}}
	<div class="{{ $divClass }}" data-pagefind-ignore>
	{{- with .url }}
		{{- $imgToGet := print $cloudiBase $src -}}
		{{- with $imgToGet -}}
			{{- with resources.GetRemote . -}}
				{{- $width := .Width -}}
				{{- $height := .Height -}}
				<img class="{{ $imgClass }}" src="{{ $cloudiBase }}{{ $xFmPart1 }}600{{ $xFmPart2 }}{{ $src }}" srcset="
				{{- with $respSizes -}}
					{{- range $i, $e := . -}}
						{{- if ge $width . -}}
							{{- if $i }}, {{ end -}}{{- $cloudiBase -}}{{ $xFmPart1 }}{{ . }}{{- $xFmPart2 -}}{{- $src }} {{ . }}w
						{{- end -}}
					{{- end -}}
				{{- end -}}" alt="test" title="test" loading="lazy" sizes="{{ $dataSzes }}" data-pagefind-ignore />
			{{- end -}}
		{{- end -}}
	{{- end -}}
	</div>
